.megamenu{position:fixed;display:none;left:0;top:0;background:#f2f2f2;padding:20px;font:normal 14px "Open Sans", sans-serif;line-height:22px;z-index:100;border:1px solid #fff;}
.megamenu .column{float:left;width:150px;margin-right:5px;}
.megamenu .column ul{margin:0;padding:0;list-style-type:none;}
.megamenu .column ul li{padding-bottom:5px;}
.megamenu .column h3{background:#ffff;font:bold 14px "Open Sans", sans-serif;margin:0 0 5px 0;}
.megamenu .column ul li a{text-decoration:none;color:#111;font-size:14px;}
.megamenu .column ul li a:hover{color:#f24b4b!important;}
