@import url('http://css.wikidot.com/theme:standard-blue/code_');
@import url('/local--theme/global-css/style.css');

/* We want the sidebar on the left, to match the main theme */
nav.side-bar-wrap {
    float: left;
}

/* We want the content to be very wide (on large screens), to match the main theme */
.container.content {
    width: 90%;
}

/* Forum modifications to make things more readable */
.post .content {
    font-size: 115%;
}
.post .content tt {
    color: #098b9a;
}
.post .content a {
    word-break: break-all;
}

/* Sidebar navigational links */
.side-bar-wrap .panel-primary a {
    font-size: 130%;
}