#profile_newsletter_overlay {width: 490px;}
#profile_newsletter_overlay input {background-image: none; border: none;}
#profile_newsletter_overlay ul {border-top: 1px solid #ebebeb; margin: 0 0 10px 0;padding:0;}
#profile_newsletter_overlay ul li {background: url(../../../../img/4.0/services/alerts/email_icon.gif) no-repeat 0 10px; border-bottom: 1px solid #ebebeb; font-size: 11px; padding:7px 0px 9px 20px; position:relative; list-style-type:none;}
#profile_newsletter_overlay ul li p {color: #000;width:400px;margin:0;padding:0;}
#profile_newsletter_overlay ul li a.newsletter_title {background: url(../../../../img/4.0/services/alerts/newsletter_arrows.gif) no-repeat 0 -25px; display: inline; padding-left:11px;}
#profile_newsletter_overlay ul li.collapsedNews a.newsletter_title {background-position:0 6px; display:block;}
#profile_newsletter_overlay .boxHeading{border-bottom: 0;}
#profile_newsletter_overlay .btn_subscription {background: url(../../../../img/4.0/services/alerts/subscribe_unsubscribe.gif) no-repeat 0px 0px; clear: right; display: block; float: right; position: absolute; top: 7px; right: 0px;width: 77px; height: 17px;}
#profile_newsletter_overlay .btn_subscription {}
* html #profile_newsletter_overlay .btn_subscription { right: 15px; }
#profile_newsletter_overlay .subscribedNews a {font-weight: bold;}
#profile_newsletter_overlay .subscribedNews .btn_subscription {background-position: 0px -27px;}
#profile_newsletter_overlay li.collapsedNews p,
#profile_newsletter_overlay li.collapsedNews span,
#profile_newsletter_overlay li.collapsedNews ul {display: none;}
#profile_newsletter_overlay .sendToTxt {float:left;font-weight:bold;display:block;width:50px;}
#profile_newsletter_overlay ul li ul { margin: 0 0 0 53px;padding:0;display: block;border:0;}
#profile_newsletter_overlay ul li ul li {background-image:none;color:#666;border:0;display:block;margin:0;padding:0;}

/********** Login/Sign Overlays *****************/
/************************************************/
.overlay_content {background-color: #fff; border: 1px solid #ccc; color: #444 !important; display: none; font-size: 12px !important; padding: 15px; margin-bottom:10px; text-align: left; position:absolute; z-index:2147483647; display:none;}
.showOverlay { display: block !important; }
#profile_overlaybg {position: absolute; top:0; left:0; background:#000; z-index:2137483646; opacity:.5; filter: alpha(opacity=50); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; margin:0; padding:0; border: 0; display: none; }

.overlay_content .close, .overlay_content .closeThis {background: url(../../../../img/4.0/services/close_button.gif) no-repeat; clear: right; display: block; height: 15px; width: 15px; float: right; position: relative; left: 4px; top: -4px;}

.overlay_content a {color: #004276 !important;}

.overlay_content h2 {border-bottom: 1px solid #ebebeb; color:#333; font-size:20px; font-weight: bold; padding-bottom: 13px; margin-bottom: 20px; margin-top: 0px;}
.overlay_content h3 {font-size: 18px; padding-bottom: 11px;}
.overlay_content h4 {font-size: 16px;}

.overlay_content .fieldTitle {font-weight: bold; margin-bottom: 5px;}
.overlay_content input[type=password],
.overlay_content input[type=text] {background: url(../../../../img/4.0/services/input_bg.gif) repeat-x 0 0; border: 1px solid #c7c7c7;}
.overlay_content input.redinput_error { border:1px solid #ca0002; }
.overlay_content .redtexterror {color: #DE1D00;}
.overlay_content .redtexterror em {color: #DE1D00 !important;}
 
.overlay_content .signup_btn,
.overlay_content .save_btn, 
.overlay_content .submit_pass_btn {background: url(../../../../img/4.0/services/buttons.gif) no-repeat;  border: none; display: block; padding: 0px; width: 61px; height: 22px;  float: right;}
.overlay_content .signup_btn {background-position:0px -32px;}
.overlay_content .save_btn {background-position:0px -96px;}
.overlay_content .submit_pass_btn {background-position:0px -64px;}



/** Start login **/
#cnnMoneyConnectFormLogin {padding-bottom: 18px; width: 272px;}
#cnnMoneyConnectFormLogin #emailinput,
#cnnMoneyConnectFormLogin #passwordinput {font-size:14px; padding:6px; padding-bottom: 0px; width:271px; height:30px;}
#cnnMoneyConnectFormLogin #emailinput  {margin-bottom: 5px; }
	/* profile page - standards compliance mode */
	.cnnProfile #cnnMoneyConnectFormLogin #emailinput,
	.cnnProfile #cnnMoneyConnectFormLogin #passwordinput {width:257px; height:22px;}
#cnnMoneyConnectFormLogin p{ border-top:1px solid #ebebeb; padding-top: 13px; margin-top: 5px; font-weight: bold; }
#cnnMoneyConnectFormLogin p.fieldTip {font-size: 11px; margin: 2px 0 5px 0; text-align: right; padding-top:0; border-top:0; font-weight: normal; }
#cnnMoneyConnectFormLogin p.fieldTitle{ border-top:0; padding-top: 0; margin-top: 0; }
#cnnMoneyConnectFormLogin #cnnRememberMeLabel {color: #666; display: block; font-size: 11px; margin-bottom:10px;}
#cnnMoneyConnectFormLogin .login_notmem {border-top:1px solid #E4E4E4; color:#666; font-weight:bold; padding-top:12px;}
#cnnMoneyConnectFormLogin .submit_pass_btn {background-position: 0px 0px; margin: 0px 0 13px 0;}
	* html #cnnMoneyConnectFormLogin .submit_pass_btn { margin-bottom: 17px; }
#cnnMoneyConnectFormLogin .cnnSignup {display: block; margin-top: 12px;}

#cnnConnectLoginErrors {margin-bottom: 5px; margin-top: 20px;}

#cnnConnFormEmailRemove, #cnnConnFormEmailConfirm { width: 350px; }

/** Password Reset **/
#cnnConnectFormReset  {padding-bottom: 27px; width: 270px;}
#cnnConnectFormReset p {font-weight: bold; margin-bottom: 5px;}
#cnnConnectFormReset #new_password_email,
#cnnConnectFormReset #reset_code,
#cnnConnectFormReset #new_password {font-size:14px; margin-bottom: 20px; padding:6px; padding-bottom: 0; width:271px; height:30px;}
#cnnConnectFormReset .submit_pass_btn {margin-top: 20px;}
	/* profile page - standards compliance mode */
	.cnnProfile #cnnConnectFormReset #new_password_email,
	.cnnProfile #cnnConnectFormReset #reset_code,
	.cnnProfile #cnnConnectFormReset #new_password {width:257px; height:22px;}


#cnnConnectResetErrors {margin-bottom: 30px;}


/** Forgot Password **/
#cnnConnectFormForgot {padding-bottom: 27px; width: 270px;}
#cnnConnectFormForgot .fieldInstruct {color: #777; font-size: 16px; font-weight: bold; margin-bottom: 10px;}
#cnnConnectFormForgot .fieldTip {font-size: 11px; margin-bottom: 22px; text-align: right;}
#cnnConnectFormForgot #signup_email_forgot {font-size:14px; padding:6px; padding-bottom: 0; width:271px; height:30px;}
	/* profile page - standards compliance mode */
	.cnnProfile #cnnConnectFormForgot #signup_email_forgot {width:257px; height:22px;}
/*.cnnProfile .submit_pass_btn {margin-top: 20px;}*/
#cnnConnectFormForgot #alreadyaccess {display:block; margin: 15px 0px; text-align: right;}

/** Register **/
#cnnConnectFormRegister {width: 520px;}
#cnnConnectFormRegister h2 span {font-size: 11px; font-weight: normal;}
#cnnConnectFormRegister .fieldTip {color: #777; font-size: 11px;}
#cnnConnectFormRegister #signup_screenname,
#cnnConnectFormRegister #signup_email,
#cnnConnectFormRegister #signup_password {float: left; font-size:14px; margin-bottom: 5px; margin-right: 10px; padding:6px; padding-bottom: 0; width:250px; height:30px;}
	/* profile page - standards compliance mode */
	.cnnProfile #cnnConnectFormRegister #signup_screenname,
	.cnnProfile #cnnConnectFormRegister #signup_email,
	.cnnProfile #cnnConnectFormRegister #signup_password {width:237px;height:22px;}


#cnnConnectFormRegister .signup_kaptcha {border-bottom: 1px solid #ebebeb; margin-bottom: 8px; padding-bottom: 11px;}
#cnnConnectFormRegister #cnnConnectCaptchaImage {float: left; margin-right: 20px;}
#cnnConnectFormRegister .signup_kaptcha input {font-size:14px; margin-bottom: 5px; padding:6px; padding-bottom: 0; width:238px; height:30px;}
	/* profile page - standards compliance mode */
	.cnnProfile #cnnConnectFormRegister .signup_kaptcha input {width:225px;height:22px;}
#cnnConnectFormRegister .signup_disclaimer {color: #777; font-size: 11px; line-height: 16px;}
#cnnConnectFormRegister .signup_disclaimer p {margin-bottom: 10px;}
#cnnConnectFormRegister .signup_btn {margin-bottom: 7px;}

#cnnConnectRegisterErrors {clear: both; margin-bottom: 15px; padding-bottom: 10px;}


/** Register: confirmation **/
#profile_followtopic11_overlay {padding: 8px; width: 472px;}
#profile_followtopic11_overlay .close {left: 0px;}
#profile_followtopic11_overlay h2 {background: url(../../../../img/4.0/services/green_check.gif) no-repeat; font-size: 15px; border-bottom: 0px; margin-bottom: 0px; padding: 5px 0px 6px 30px;}
#profile_followtopic11_overlay p {color: #777; line-height: 18px;}
#profile_followtopic11_overlay a {display: block; font-weight: bold; margin-top: 6px;}

/** Service down, Generic Message **/
#profile_servicedown_overlay, 
#profile_generic_message_overlay {padding: 8px 8px 30px 8px; width: 502px;}
	html>body #profile_servicedown_overlay, 
	html>body #profile_generic_message_overlay {width: 472px;}
#profile_servicedown_overlay .close, 
#profile_generic_message_overlay .close {left: 0px; top: 0px;}
#profile_servicedown_overlay h2, 
#profile_generic_message_overlay h2.error {background: url(../../../../img/4.0/services/red_x.gif) no-repeat; font-size: 15px; border-bottom: 0px; margin-bottom: 0px; padding: 5px 0px 6px 30px;}
#profile_servicedown_overlay p, 
#profile_generic_message_overlay p {color: #777; line-height: 18px;}

/** Screen name creation **/
#cnnConnFormScreenName { width: 502px; }
#cnnConnFormScreenName p em { color:#777; font-size: 11px; }

/** Remove email Warning/Confirmation **/
#cnnConnFormEmailRemove em { color: #777; font-size: 14px; display: block; text-align: center; margin: 0 0 1em 0; }
#cnnConnFormEmailRemove a { font-weight: bold; }	

/** Profile: edit **/
#profile_editmydetails_overlay {padding: 20px; width: 710px;}
#profile_editmydetails_overlay h3 {color: #000; font-size: 16px;}
#profile_editmydetails_overlay em {color: #999; font-style: normal;}
#profile_editmydetails_overlay .editmy_profile {border-bottom: 1px solid #ebebeb; padding-bottom: 12px;}
#profile_editmydetails_overlay .editmy_profile_col1 {float: left; width: 260px;}
#profile_editmydetails_overlay .editmy_profile_col2 {float: left; width: 260px;}
#profile_editmydetails_overlay .editmy_profile_col3 {float: right; width: 190px;}

#profile_editmydetails_overlay input[type=text] {font-size:14px; height:19px; padding:2px; margin-bottom: 12px;}
#profile_editmydetails_overlay .editmy_profile_col1 input {width:106px;}
#profile_editmydetails_overlay .editmy_profile_col2 input {width:224px;}
#profile_editmydetails_overlay .editmy_profile_col3 input {width:106px;}
#profile_editmydetails_overlay .editmy_profile_col1 img{height:15px;width:15px;}

#profile_editmydetails_overlay .editmy_avatar { border-bottom: 1px solid #EBEBEB; margin-bottom: 15px; padding-bottom: 20px;}
#profile_editmydetails_overlay .editmy_avatar #avatar {float: left; margin-right: 10px;}
#profile_editmydetails_overlay .editmy_avatar #uploadFrame {background: #fff; width:240px; height:25px; }
@media screen and (-webkit-min-device-pixel-ratio:0) {
    /*Chrome hack*/
	#profile_editmydetails_overlay .editmy_avatar #uploadFrame {height:26px; }
}
#profile_editmydetails_overlay .editmy_avatar p { margin-bottom: 5px; margin-top: 5px;}
#profile_editmydetails_overlay .avatar_upload_btn {margin-left: 60px; margin-right: 10px;}

#profile_editmydetails_overlay .editmy_first {float:left; height:44px; width:123px;}
#profile_editmydetails_overlay .editmy_last {float:left; width:120px;}
#profile_editmydetails_overlay #editmy_email0wrap, 
#profile_editmydetails_overlay #editmy_email1wrap, 
#profile_editmydetails_overlay #editmy_email2wrap {position: relative;}
#profile_editmydetails_overlay #editmy_email0, 
#profile_editmydetails_overlay #editmy_email1, 
#profile_editmydetails_overlay #editmy_email2 {margin-bottom: 0px; width:204px;}
#profile_editmydetails_overlay #editmy_emailprimary0, 
#profile_editmydetails_overlay #editmy_emailprimary1, 
#profile_editmydetails_overlay #editmy_emailprimary2 { color: #004276; }
#profile_editmydetails_overlay #editmy_emailprimary0.editmy_emailprimary, 
#profile_editmydetails_overlay #editmy_emailprimary1.editmy_emailprimary, 
#profile_editmydetails_overlay #editmy_emailprimary2.editmy_emailprimary { color:#396; }
#profile_editmydetails_overlay p.email_field { display: none; padding-bottom: 5px; color: #396; font-size: 11px;}
#profile_editmydetails_overlay .email_addnew {float: right; margin-right: 30px;}
#profile_editmydetails_overlay .removeEmail
#profile_editmydetails_overlay .peditmyp3 {font-weight: bold; margin-bottom: 5px;}
#profile_editmydetails_overlay #editmy_monthOfBirth,
#profile_editmydetails_overlay #editmy_yearOfBirth {margin-bottom: 17px; width: 70px;}
#profile_editmydetails_overlay #editmy_gender {margin-bottom: 17px; width: 80px;}
#profile_editmydetails_overlay .removeEmail { display: none; position: absolute; top: 5px; left: 215px; }
#profile_editmydetails_overlay .disableRemoveEmail { cursor: default; }
#profile_editmydetails_overlay .changetoprimary { cursor: pointer; text-decoration: underline; }

#profile_editmydetails_overlay #updateProfile_footer {margin-top: 37px; text-align: right;}
#profile_editmydetails_overlay .save_btn {display: inline;  float: none; margin-bottom: 0px; width: 61px; height: 22px;}
#profile_editmydetails_overlay .inputInstruct {display: inline; font-size: 11px; margin-left: 4px; position: relative; top: -3px;}
#profile_editmydetails_overlay .inputInstruct .close {background-image: none; display: inline; float: none; left: 0px; top: 0px; height: auto; width: auto;}

#profile_editmydetails_overlay #cnnConnectProfileErrors {margin-top:15px;}

/*WSOD alerts Overlays*/
#WSOD-alerts { width: 630px; height: 520px; }
#WSOD-alerts-iframe{ width: 630px; height: 510px; }
#WSOD-add-watchlist{ width: 630px; height: 520px; }
#WSOD-add-watchlist iframe { width: 630px; height: 510px; }
/*Company and Market Alerts*/
#WSOD-alerts0 { width: 630px; height: 520px; }
#WSOD-alerts0-iframe { width: 630px; height: 510px; }
/*Mutual Funds and ETF Alerts*/
#WSOD-alerts1 { width: 630px; height: 520px; }
#WSOD-alerts1-iframe { width: 630px; height: 510px; }
/*Watchlist Alerts*/
#WSOD-alerts2 { width: 630px; height: 520px; }
#WSOD-alerts2-iframe { width: 630px; height: 520px; }
/*Keyword alerts*/
#WSOD-alerts3 { width: 630px; height: 520px; }
#WSOD-alerts3-iframe { width: 630px; height: 520px; overflow: hidden; }
#newsletter-preview, #alert-preview { width: 810px; height: 610px; }
#newsletter-preview iframe, #alert-preview iframe{ width: 820px; height: 600px; }
/********** /Overlays *****************/

/* wikinvest sso page */
.litelogin { background-color: #fff; margin: 0; padding: 0; text-align: left; }
.litelogin .overlay_content { padding-left: 0 !important; padding-bottom: 0; margin: 0; border: 0; }
.litelogin #cnnMoneyConnectFormLogin { width: 382px; border: 0; }
.litelogin label { width: 50%; float: left; margin-left: 72px; }
.litelogin label span { color: #a4a4a4; }
.litelogin .fieldTip a { margin-top: 4px; }
.litelogin #cnnMoneyConnectFormLogin .fieldTitle, .litelogin #cnnConnectFormRegister .fieldTitle, .litelogin #cnnConnectFormForgot .fieldTitle, .litelogin #cnnConnectFormReset .fieldTitle { float: left; width: 69px; height: 30px; padding-top: 10px; color: #000; text-align: right; padding-right: 8px; }
.litelogin #loginId, .litelogin #password { float: left; clear: right; height: 20px; width: 298px; padding: 8px 0 0 4px; color: #aaa; }
.litelogin .overlay_content { display: block; }
.litelogin #cnnConnectLoginErrors, .litelogin .redtexterror { color: #DE1D00; }
.litelogin #cnnConnectLoginErrors { margin-left: 12px; }
.litelogin #cnnMoneyConnectFormLogin .submit_pass_btn {background: url(../../../../../../../s.cdn.turner.com/money/.element/img/4.0/services/wikinvestbuttons.gif) no-repeat; background-position: 0px 0px; margin: 0px 0 13px 0; height: 30px; width: 90px;}
