@import url(http://static-l.wikidot.com/common--theme/frontspecial/newtheme_sidebar.css);

#license-area {
    border-top:0px solid #ECECEC;
    font-size:10px;
}
body {
    font-family: verdana,arial,helvetica,sans-serif;
}

body {
    font-family:verdana,arial,helvetica,sans-serif;
    *font-family: arial,verdana,helvetica,sans-serif;
}

#header h2 {
    position: relative;
    margin-left: 140px;
    top: -27px;
    display: block;
    color: #373737;
}

/*  Strip down editor UI, revised by PH */
#wd-editor-toolbar-panel div + div { display: none; }
#np-editor-panel div + div { display: none;}
#edit-diff-button { display: none; }
#pagerate-button { display: none; }
#print-button { display: none; }
#site-tools-button { display: none; }
#page-info { display: none; }
#lock-info { display: none; }
.edit-help-34 { display: none; }
.page-watch-options { display: none; }

/*  Pop-up hover text over images or links  */
/*  Use: [[span class="hover"]]Image or link[[span]]Hover text[[/span]][[/span]] */

.hover span {
    display: none;
}
.hover:hover span {
    position: absolute;
    display: inline;
    margin: 20px -250px;
    height: auto;
    width: auto;
    background: #eee;
    border: 1px solid #555;
    color: #555;
    padding: 1em;
    font-size: 12px;
}
.hover:hover span span {
    position: relative;
    margin: auto;
    height: auto;
    width: auto;
    border: none;
    padding: 0;
}

pre {
    white-space:pre-wrap;
}
#side-bar{
    overflow: hidden;
display: none;
}

#main-content {
width: 940px;
}