@font-face{font-family:appleLogo;src:local("Lucida Grande");unicode-range:U+F8FF}
html{-webkit-text-size-adjust:100%}
.custom_tos,.custom_tos_view{min-height:100vh;margin-top:70px;padding:0 7.5%;background:#fff}
.custom_tos__contents{max-width:400px;padding-top:80px}
@media only screen and (max-width:767px){.custom_tos__contents{padding-top:40px}
}
.custom_tos_view__contents{max-width:500px;padding-top:40px}
.custom_tos__header,.custom_tos_view__header{font-weight:900;font-size:34px;line-height:42px;letter-spacing:0;margin:40px 0}
.custom_tos__contents .custom_tos__header{line-height:42px}
.custom_tos_view__icon{margin-bottom:12px;border-radius:4px}
.custom_tos_view__domain{color:#616061;font-size:15px;line-height:1.46666667}
.custom_tos__body{margin-bottom:40px;font-size:15px;line-height:1.46666667}
.custom_tos_view__body{padding-bottom:40px;font-size:15px;line-height:1.46666667}
.custom_tos_view__body a{word-break:break-word}
.minimal_ui_legalese,p#legalese,p.mobile_legalese,span.legalese{display:none!important}
#tos_graphics{height:178px;width:auto;background-image:url(../../29402/img/signup/tos_spot@2x.png);background-repeat:no-repeat;background-position-x:50%;background-size:contain;margin:-1rem 0 2rem}
.tos_form{font-size:17.1px}
.tos_form .tos_image_container{float:right}
.tos_form .tos_title{text-align:left;padding-top:.7rem;margin-bottom:2rem}
@media only screen and (max-width:900px){.tos_form.col{width:100%!important}
}
@media screen and (max-width:640px){.tos_form{font-size:16px}
.tos_form .tos_image_container{margin-top:1rem;float:none;text-align:center}
.tos_form .tos_title{text-align:center;margin-top:.3rem}
}
@media only screen and (max-width:767px){.tos_form{margin-bottom:4rem!important}
}
@media only screen and (max-width:640px){.tos_form{margin-bottom:12rem!important}
}
.tos_contents{padding-bottom:8rem}
@media screen and (max-width:767px){.tos_contents{padding-bottom:12rem}
}
.tos_contents h2,.tos_contents h4{font-size:20px;line-height:1.2;margin-bottom:1.5rem}
.tos_contents h2{font-weight:900}
.tos_contents h4{font-weight:400}
.tos_contents p{line-height:24px;margin-bottom:1.5rem}
@media screen and (min-width:768px){.tos_title_form{margin-top:3rem}
}
.tos_i_agree_banner{font-size:17.1px;position:fixed;width:100%;left:0;right:0;bottom:0;background-color:#fff;border-top:1px solid #ddd}
.tos_i_agree_banner .tos_disclaimer{font-size:16px;color:#616061}
.tos_i_agree_banner .tos_disclaimer a{color:inherit;text-decoration:underline}
.tos_i_agree_banner .tos_full_width{padding:1.5rem 1rem;max-width:660px;margin-bottom:0}
.tos_i_agree_banner .tos_full_width .col,.tos_i_agree_banner .tos_full_width p{margin-bottom:0;padding-right:0}
.tos_i_agree_banner .tos_full_width .col+.col,.tos_i_agree_banner .tos_full_width p+.col{padding-right:0}
@media only screen and (max-width:900px){.tos_i_agree_banner .tos_full_width{max-width:100%;width:100%}
}
.tos_i_agree_banner .btn{width:100%;max-width:200px}
@media screen and (max-width:767px){.tos_i_agree_banner .btn{margin-top:1rem}
}
.tos_i_agree_banner.invite_flow{width:50%;min-width:486px;max-width:624px}
.tos_i_agree_banner.invite_flow .tos_full_width{width:100%;padding:1.5rem 2rem}
.tos_i_agree_banner.invite_flow .tos_disclaimer{padding-right:10px}
.tos_i_agree_banner.invite_flow .btn{height:50px;margin-top:0}
.tos_i_agree_banner.invite_flow .tos_full_width .col{display:flex;min-height:70px;align-items:center}
@media screen and (max-height:44rem) and (min-width:767px){.tos_contents{max-height:26rem}
.tos_i_agree_banner.invite_flow{width:486px}
}
@media screen and (max-width:767px){.tos_i_agree_banner.invite_flow{width:100%;max-width:none;min-width:auto}
.tos_i_agree_banner.invite_flow .tos_full_width{padding:1.2rem 2rem}
.tos_i_agree_banner.invite_flow .tos_disclaimer{padding-right:0}
#invite_form[data-step=user_tos]>#invite_form_body{padding-bottom:0}
#invite_form[data-step=user_tos] #invite_graphics_container{max-width:75%}
}
.tos_container{background-color:rgba(29,28,29,.4);position:fixed;top:0;bottom:0;left:0;right:0;z-index:2000;display:none}
.tos_container.open{display:block}
.tos_container .tos_window{opacity:0;-moz-opacity:0;-khtml-opacity:0;-webkit-transition:all .2s ease-out 0s;-moz-transition:all .2s ease-out 0s;transition:all .2s ease-out 0s;background-color:#fff;width:100%;height:100%;padding:3rem;line-height:1.3}
.tos_container .tos_window.animate_in{opacity:1;-moz-opacity:1;-khtml-opacity:1}
.tos_container .tos_window.popup{display:flex;align-items:center;border-radius:12px;max-width:600px;max-height:400px;position:absolute;left:50%;top:50%;-webkit-transform:translate(-50%,-50%);-moz-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%)}
@media screen and (max-width:768px),screen and (max-height:600px){.tos_container .tos_window.popup{position:relative;left:auto;right:auto;top:0;border-radius:0;max-width:none;max-height:none;-webkit-transform:none;-moz-transform:none;-ms-transform:none;transform:none}
}
body.mobile .tos_container .tos_window.popup{position:relative;left:auto;right:auto;top:0;border-radius:0;max-width:none;max-height:none;-webkit-transform:none;-moz-transform:none;-ms-transform:none;transform:none}
.tos_container .tos_window h1{font-weight:300;font-size:42px;margin-bottom:2.5rem;line-height:3rem}
.tos_container .tos_window p.terms{font-size:17px;display:block;line-height:1.6;margin-bottom:2.5rem}
.tos_container .tos_window p.terms a{color:inherit;text-decoration:underline}
.tos_container .tos_window a#create_tos_i_agree{padding:16px 45px 18px}
.tos_container .tos_content{max-width:500px;margin:0 auto}
.fullscreen_tos_popup{position:relative;left:auto;right:auto;top:0;border-radius:0;max-width:none;max-height:none;-webkit-transform:none;-moz-transform:none;-ms-transform:none;transform:none}