@charset "UTF-8";
.fluid-container{width:960px;margin:0 auto;position:relative}
@media (max-width:980px){.fluid-container{width:94%}
}
#photo-channel{font-size:16px}
#photo-channel h1,#photo-channel h2,#photo-channel h3,#photo-channel h4,#photo-channel h5,#photo-channel h6{font-family:Lato,"Helvetica Neue",Helvetica,Arial,Sans-serif}
#photo-channel .metadata{font-family:Lato,"Helvetica Neue",Helvetica,Arial,Sans-serif;text-transform:inherit;letter-spacing:inherit;font-size:inherit}
#photo-channel .dek{font-family:Lato,"Helvetica Neue",Helvetica,Arial,Sans-serif}
#photo-channel .module{border-bottom:none;font-size:inherit}
#photo-channel .module-label{text-transform:inherit;letter-spacing:normal}
.fluid-container{width:960px;margin:0 auto;overflow:hidden}
@media (max-width:1052px){.fluid-container{width:630px}
}
@media (max-width:722px){.fluid-container{width:300px}
}
.page-title{font-size:2.25em;border-bottom:1px solid #ccc;margin-top:0}
@media (max-width:592px){.page-title{font-size:1.5em}
}
.module .module-label{font-size:1.1875em;font-weight:400;padding-bottom:5px;margin:0;color:#00B7E6;border-bottom:1px solid #ccc;margin-bottom:10px}
.module-most-popular{width:300px;float:right;margin-bottom:35px}
.module-most-popular ol{margin:0;padding:0 0 0 25px;list-style-type:none;counter-reset:most-popular;border-bottom:1px solid #ccc}
.module-most-popular li{margin-bottom:15px}
.module-most-popular li:before{counter-increment:most-popular;content:counter(most-popular);display:block;float:left;margin-left:-25px}
.module-most-popular a{color:#000;text-decoration:none}
.module-most-popular a:hover{text-decoration:underline}
.module-newsletter-signup{width:300px;float:right;margin-bottom:35px;clear:right}
.module-newsletter-signup h2{border-width:0;margin-bottom:0}
.module-newsletter-signup form,.module-search form{position:relative}
.module-newsletter-signup input[type=text],.module-search input[type=search]{border:1px solid #ccc;border-radius:5px;padding-right:50px;box-sizing:border-box;width:100%;line-height:1.5}
.module-newsletter-signup input[type=text]{margin-bottom:5px}
.module-newsletter-signup input[type=submit],.module-search input[type=submit]{width:45px;position:absolute;right:0;top:0;border:1px solid #ccc;text-align:center}
.module-search input[type=submit]{height:100%}
.module-newsletter-signup label{color:#999}
.module-categories .categories{margin:0;padding:0;list-style-type:none}
.module-categories .category{float:left;padding-right:15px;margin-right:15px;border-right:1px solid #ccc;margin-bottom:1em}
.module-categories .category:last-child{border-right:0}
.module-categories a{color:#000;text-decoration:none}
.module-categories a:hover{text-decoration:underline}
#photo-channel .grid-wrapper .module-categories{width:100%;border-bottom:1px solid #ccc}
#photo-channel .article-container{margin-bottom:64px}
.module-date-selector input[type=submit]{padding:4px 6px}
.module-date-selector select{border:1px solid #ccc;margin-right:5px}
.module-search input[type=submit]{content:"";font-family:atl-icons;font-size:15px}
.module-about .module-label a{color:#00B7E6;text-decoration:none}
.module-about .module-label a:hover{text-decoration:underline}
.grid-article{padding-top:5px;border-top:1px solid #ccc;width:300px;margin-bottom:25px}
.grid-article figure{text-align:right}
.grid-article .lead-image{width:300px;height:185px;background-repeat:no-repeat;background-color:#ccc}
.grid-article .credit{text-align:right;font-size:.75em;color:#ccc;margin-bottom:5px;min-height:12px;font-family:Lato,"Helvetica Neue",Helvetica,Arial,Sans-serif}
.grid-article a{text-decoration:none;color:#000}
.grid-article a:hover+.metadata+.hed{text-decoration:underline}
.grid-article .hed{font-size:1.25em;margin:3px 0 0;line-height:1.2}
.grid-article .hed a:hover{text-decoration:underline}
.grid-article .metadata{margin:0;padding:0;list-style-type:none;overflow:hidden}
.grid-article .metadata li{float:left}
.grid-article .metadata li+li:before{content:"|";margin:0 3px}
.grid-article .metadata .kicker{display:list-item;color:#EC1B24;font-weight:700}
.below-photo-article-ad-wrapper{margin-bottom:30px}
.below-photo-article-ad-wrapper:after{content:"";clear:both;display:block;height:0;font-size:0;visibility:hidden}
.ad-midboxrightphoto{float:right;min-width:300px}
@media (max-width:1052px) and (min-width:722px){.ad-midboxrightphoto{display:none}
}
#promo{overflow:hidden}
@media (max-width:1052px) and (min-width:722px){#promo{overflow:visible}
}
@media (max-width:1052px){#mid-promo-wrapper{overflow:hidden}
}
#below-article .module a{text-decoration:none}
#below-article .module a:hover{text-decoration:underline}
#below-article .module-recent{width:630px;float:left}
@media (max-width:722px){#below-article .module-recent{width:100%;margin-bottom:30px}
}
#below-article .module-recent h2{margin-bottom:0;border-width:0}
#below-article .module-recent .grid .recent-article{margin:0 15px;width:300px;float:left;padding:5px 0 20px;border-top:1px solid #ccc}
#below-article .module-recent .grid .recent-article:nth-child(2n+1){clear:left}
#below-article .module-recent .grid .recent-article.two-row{clear:left}
#below-article .recent-article a:hover{text-decoration:none}
@media (max-width:1052px){#below-article .module-most-popular{float:left}
}
#below-article .recent-article .dek{display:none}
#comments{max-width:630px;width:100%;overflow:hidden}
.ad-bottomboxrightphoto{float:right;min-width:300px}
.pagination{border-top:1px solid #ccc;border-bottom:1px solid #ccc;margin:0 0 25px;padding:20px 0;list-style-type:none;float:left;width:100%;text-align:center}
.pagination .next,.pagination .prev{display:inline-block}
.pagination li+li{margin-left:10px}
.pagination a{background:#000;padding:10px 20px;border-radius:5px;color:#fff;text-decoration:none}
.pagination .next{text-align:left}
.pagination .next a:after{content:">";padding-left:5px}
.pagination .prev{text-align:right}
.pagination .prev a:before{content:"<";padding-right:5px}
@media (max-width:542px){.pagination .next,.pagination .prev{text-align:center}
.pagination .next a,.pagination .prev a{display:block}
}
.homepage-container{margin:0 auto;max-width:960px;width:100%}
@media (min-width:1632px){.homepage-container{max-width:1540px}
}
@media (min-width:1332px) and (max-width:1632px){.homepage-container{max-width:1240px}
}
@media (max-width:592px){.homepage-container{max-width:300px}
}
@media (max-width:1052px) and (min-width:692px){.homepage-river-container{max-width:100%}
}
@media (max-width:692px){.homepage-river-container{max-width:300px}
}
#home-hero{height:300px;position:relative;margin-bottom:30px}
@media (min-width:1632px){#home-hero{height:481px}
}
@media (min-width:1332px) and (max-width:1632px){#home-hero{height:388px}
}
@media (max-width:592px){#home-hero{height:auto}
}
#home-hero a{position:absolute;top:0;bottom:0;left:0;right:0;color:#fff;text-decoration:none}
@media (max-width:592px){#home-hero a{color:#000;position:static}
}
#home-hero .lead-image{background-color:#333;position:absolute;top:0;bottom:0;left:0;right:0;outline:1px solid #ccc;overflow:hidden}
@media (max-width:592px){#home-hero .lead-image{position:static}
}
#home-hero.hero-wide .lead-image:after{content:"";display:block;width:100%;position:absolute;bottom:0;left:0;height:50%;background:url("../../photo/img/hero-gradient.ce869b0eb3df.png");background-position:bottom;background-repeat:repeat-x;background:-owg-linear-gradient(rgba(0,0,0,0) #000);background:-webkit-linear-gradient(rgba(0,0,0,0) #000);background:-moz-linear-gradient(rgba(0,0,0,0) #000);background:-o-linear-gradient(rgba(0,0,0,0) #000);background:linear-gradient(rgba(0,0,0,0) #000)}
@media (max-width:592px){#home-hero.hero-wide .lead-image:after{display:none}
}
#home-hero.hero-narrow .lead-image{text-align:right}
#home-hero .credit{position:absolute;right:0;bottom:-14px;color:#ccc;font-size:.75em;font-family:-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif}
@media (max-width:592px){#home-hero .credit{position:static;text-align:right}
}
#home-hero.hero-narrow .hero-caption-wrapper{position:relative;height:100%;background:#333;box-sizing:border-box;width:360px;padding:0 25px}
#home-hero.hero-narrow .hero-caption-wrapper:after{position:absolute;top:0;bottom:0;width:100px;right:-100px;content:"";background-image:-owg-linear-gradient(to right,rgba(0,0,0,.7),rgba(0,0,0,0));background-image:-webkit-linear-gradient(to right,rgba(0,0,0,.7),rgba(0,0,0,0));background-image:-moz-linear-gradient(to right,rgba(0,0,0,.7),rgba(0,0,0,0));background-image:-o-linear-gradient(to right,rgba(0,0,0,.7),rgba(0,0,0,0));background-image:linear-gradient(to right,rgba(0,0,0,.7),rgba(0,0,0,0))}
@media (max-width:768px){#home-hero.hero-narrow .hero-caption-wrapper:after{display:none}
}
@media (min-width:1632px){#home-hero.hero-narrow .hero-caption-wrapper{padding:0 100px;width:576px}
}
@media (min-width:1332px) and (max-width:1632px){#home-hero.hero-narrow .hero-caption-wrapper{padding:0 25px;width:465px}
}
@media (max-width:870px){#home-hero.hero-narrow .hero-caption-wrapper{width:270px;padding:0 30px}
}
@media (max-width:592px){#home-hero.hero-narrow .hero-caption-wrapper{padding:0;position:static;width:inherit;-webkit-box-shadow:inherit;-moz-box-shadow:inherit;box-shadow:inherit;background:inherit}
}
#home-hero.hero-wide .hero-caption{position:absolute;box-sizing:border-box;width:100%;bottom:0;padding:0 25px 25px}
#home-hero.hero-narrow .hero-caption{position:relative;top:50%;-webkit-transform:translateY(-50%);-moz-transform:translateY(-50%);-ms-transform:translateY(-50%);-o-transform:translateY(-50%);transform:translateY(-50%)}
@media (max-width:592px){#home-hero.hero-narrow .hero-caption,#home-hero.hero-wide .hero-caption{padding:0;position:static;width:inherit;-webkit-transform:inherit;-moz-transform:inherit;-ms-transform:inherit;-o-transform:inherit;transform:inherit}
}
#home-hero .metadata{margin:0;padding:0;list-style-type:none;overflow:hidden}
#home-hero.hero-narrow .metadata{margin-bottom:10px}
@media (max-width:592px){#home-hero.hero-narrow .metadata{margin-bottom:0}
}
#home-hero .metadata li{float:left;margin:0}
#home-hero .metadata li+li:before{content:"|";margin:0 5px}
#home-hero .metadata .kicker{font-weight:700}
@media (max-width:592px){#home-hero .metadata .kicker{color:#EC1B24}
}
#home-hero .hed{margin:0;font-size:2.25em}
@media (max-width:592px){#home-hero .hed{margin-top:3px;font-size:1.25em}
}
@media (max-width:1052px){#home-hero.hero-wide .hed{font-size:1.875em}
}
#home-hero a:hover .hed{text-decoration:underline}
#home-hero .dek{display:none}
@media (max-width:592px){#home-hero .dek{display:block;color:#666;margin-top:0}
}
@media (max-width:768px) and (min-width:592px){#home-hero.hero-narrow{max-width:600px;height:inherit}
#home-hero.hero-narrow .hero-caption-wrapper{width:100%;padding-top:25px;padding-bottom:25px;-webkit-box-shadow:#000 0 -10px 15px -5px;-moz-box-shadow:#000 0 -10px 15px -5px;box-shadow:#000 0 -10px 15px -5px}
#home-hero.hero-narrow a{position:static}
#home-hero.hero-narrow .lead-image{height:300px;position:static}
#home-hero.hero-narrow .hero-caption{position:static;-webkit-transform:inherit;-moz-transform:inherit;-ms-transform:inherit;-o-transform:inherit;transform:inherit}
}
@media (min-width:1632px){#home-hero.hero-narrow .hed{font-size:2.625em}
}
@media (max-width:1332px) and (min-width:592px){#home-hero.hero-narrow .hed{font-size:1.75em}
}
.ad-boxmobile-wrapper{display:none}
@media (max-width:592px){.ad-boxmobile-wrapper{display:block;text-align:center;margin-bottom:30px}
}
#ad-boxmobile.ad-loaded{display:inline-block}
@media (max-width:592px){#ad-boxmobile.ad-loaded:before{content:"Advertisement";display:block;border-bottom:1px solid #ccc;margin-bottom:5px;text-align:center;color:#ccc;font-size:.875em}
}
#river{width:600px;margin:0;padding:0;list-style-type:none;float:left}
@media (min-width:1632px){#river{width:1200px}
}
@media (min-width:1332px) and (max-width:1632px){#river{width:900px}
}
@media (max-width:1052px) and (min-width:692px){#river{max-width:600px;width:100%;margin:0 auto;float:none}
}
@media (max-width:692px){#river{width:300px}
}
#river .article{border-top:1px solid #ccc;padding-top:5px;margin-bottom:40px}
#river .article a{text-decoration:none}
#river .article .lead-image{outline:1px solid #ccc}
#river .article a:hover+.metadata+.hed{text-decoration:underline}
#river .article .credit{margin-top:1px;color:#ccc;text-align:right;font-size:.75em;min-height:12px;font-family:-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif}
@media (max-width:592px){#river .article .credit{margin-bottom:5px}
}
#river .article .metadata{margin:0;padding:0;list-style-type:none;overflow:hidden}
#river .article .metadata li{float:left}
#river .article .metadata li+li:before{content:"|";margin:0 5px}
#river .article .metadata .kicker{color:#EC1B24;font-weight:700}
#river .article .hed{font-size:1.5em;margin:3px 0 0}
@media (max-width:692px){#river .article .hed{font-size:1.25em}
}
#river .article .hed a{text-decoration:none;color:#000}
#river .article .hed a:hover{text-decoration:underline}
#river .article .dek{margin:5px 0 0;color:#666}
#river .article .dek a{color:#333}
.homepage-rail-container{width:300px;float:right}
@media (max-width:1052px){.homepage-rail-container{width:inherit;float:none}
}
@media (max-width:1052px) and (min-width:692px){.homepage-rail-wrapper{width:630px;margin:0 auto;overflow:hidden}
}
@media (max-width:1052px) and (min-width:692px){.homepage-rail{margin:0 -15px}
}
.module{width:300px;float:right;margin-bottom:35px}
@media (max-width:1052px) and (min-width:692px){.module-two-column{width:300px;float:left;margin:0 15px 15px}
}
@media (max-width:1052px) and (min-width:692px){.module-two-column:nth-child(2n+1){clear:left}
}
@media (max-width:1052px) and (min-width:692px){.ad-topboxright-wrapper{text-align:center;width:100%;float:none}
.ad-topboxright-wrapper .ad{display:inline-block;min-height:1px}
}
@media (max-width:1052px) and (min-width:692px){.module-featured,.module-follow{width:630px;overflow:hidden;float:none;margin:0 auto 40px}
}
.module-follow{padding:20px 0;border-top:1px solid #ccc;border-bottom:1px solid #ccc}
.module-follow .module-label{float:left;margin:0;margin-right:15px;padding:0;line-height:36px;border-bottom:0}
.module-follow ul{margin:0;padding:0;list-style-type:none}
.module-follow li{float:left;margin-right:10px}
.module-featured{margin-bottom:0}
.module-featured .module-label{margin-bottom:5px;padding-bottom:0;border:0}
@media (max-width:1052px) and (min-width:692px){.module-featured .module-label{margin:0}
}
.module-featured .articles{margin:0;padding:0;list-style-type:none}
@media (max-width:1052px) and (min-width:692px){.module-featured .articles{margin:0 -15px}
}
.module-featured .featured-article{float:left}
@media (max-width:1052px) and (min-width:692px){.module-featured .featured-article{margin:0 15px}
}
@media (max-width:1052px) and (min-width:692px){.module-featured .featured-article+.featured-article{margin-top:0}
}
.module-featured .metadata .date:before{content:"|";margin:0 3px}
.module-featured .featured-article .dek{display:none}
.grid-article .kicker{display:none}
.grid-wrapper{width:960px;margin:0 auto;overflow:hidden}
@media (max-width:1052px){.grid-wrapper{width:630px}
}
@media (max-width:722px){.grid-wrapper{width:300px}
}
.grid{margin:0 -15px;padding:0;list-style-type:none;overflow:hidden}
.grid .grid-item{width:300px;margin-left:15px;margin-right:15px;float:left}
.grid .grid-item.three-row{clear:left}
.grid .grid-item:nth-child(3n+1){clear:left}
@media (max-width:1052px){.grid .grid-item:nth-child(3n+1){clear:none}
}
@media (max-width:1052px){.grid .grid-item:nth-child(2n+1){clear:left}
}
.module-categories,.module-date-selector{margin-bottom:25px}
.module-categories .module-label{color:#000;font-size:1.5em;border-bottom:0}
.category-index{border-bottom:1px solid #ccc;margin-bottom:25px}
.category-index .grid-item{position:relative;margin-bottom:30px;padding-top:5px;border-top:1px solid #ccc}
.category-index .grid-item .lead-image{width:300px;height:185px;background-color:#ccc}
.category-index .grid-item .hed{position:absolute;bottom:0;left:0;right:0;color:#fff;background-color:#000;background-color:rgba(0,0,0,.75);margin:0;padding:10px;font-size:1.25em}
.category-index .grid-item a:hover .hed{text-decoration:underline}
#search-results .cse #search-results .gsc-control-cse,#search-results .gsc-control-cse{padding:0}
#search-results .gs-promotion-image-cell,#search-results .gsc-result,#search-results .gsc-table-cell-thumbnail,#search-results .gsc-table-result,#search-results .gsc-thumbnail-inside,#search-results .gsc-url-top{padding-left:0;margin-left:0;border-left:none}
#search-results .gsc-result{margin-bottom:35px}
#search-results .gs-image-box{width:100px;margin-right:5px}
#search-results .gs-image{max-width:100%;max-height:100%}
#search-results .gs-visibleUrl{color:#666}
#search-results .gs-title{height:auto}
#page-search .module-search .module-label{display:none}
#search-results .gs-image-box{width:250px}
@media (max-width:722px){#search-results .gs-image-box{width:75px}
}
.c-letters-cta__text{font-style:italic;margin:0}
.c-letters-cta__text::before{background-color:#000;content:'';display:block;height:1px;margin:16px auto;width:96px}
.c-letters-cta__link{text-decoration:none}
.above-article{position:relative}
.above-article,.c-letters-cta,.photos .photo{margin:0 auto;width:900px}
@media (min-width:1292px){.above-article,.c-letters-cta,.photos .photo{width:1200px}
}
@media (max-width:992px){.above-article,.c-letters-cta,.photos .photo{width:600px}
}
@media (max-width:692px){.above-article,.c-letters-cta,.photos .photo{width:450px}
}
@media (max-width:542px){.above-article,.c-letters-cta,.photos .photo{width:300px}
}
#article{line-height:1.25;font-family:-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif}
@media (max-width:992px){#article{margin-top:0}
}
#article-header{margin-bottom:25px;margin-right:320px;max-width:700px}
@media (max-width:992px){#article-header{margin-right:0;margin-top:50px}
}
#article #article-header .metadata{margin:0;padding:0;list-style-type:none;display:block;overflow:hidden;border-bottom:1px solid #ccc;margin-bottom:15px;font-family:-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;text-transform:uppercase;font-size:13px;letter-spacing:2px;line-height:1.25;padding-bottom:15px;font-size:.6875rem;font-weight:700;letter-spacing:.05em;text-transform:uppercase}
@media (max-width:542px){#article #article-header .metadata{text-align:center;line-height:1.5}
}
#article-header .metadata li{padding:0;display:inline}
@media (max-width:542px){#article-header .metadata li.num-photos:before{content:"";display:block}
}
#article-header .metadata li+li:before{content:"|";padding-right:5px;margin-left:5px;color:#CCC}
#article-header .kicker{color:#EC1B24;font-weight:700}
#article #article-header .hed{font-size:36px;margin:15px 0;font-family:"Lyon Display",Georgia,Times,serif}
@media (max-width:542px){#article #article-header .hed{text-align:center}
}
#article-header .byline{margin-bottom:15px}
#article-header .byline a{color:#EC1B24;font-weight:700;text-decoration:none}
#article-header .byline a:hover{text-decoration:underline}
#article-content{position:relative;overflow:hidden;margin-bottom:25px;font-family:"Lyon Text",Georgia,Times,serif;font-size:18px;line-height:1.5}
@media (max-width:592px){#article-content{margin-bottom:0;max-height:300px}
}
#article-content p:first-child{margin-top:0}
#article-content p:last-child{margin-bottom:0}
#article-content img{max-width:100%}
#article-content a{color:#458CD5}
@media (max-width:592px){#article-header.expanded #article-content{max-height:inherit;margin-bottom:25px}
}
#article-header .component-social{margin:15px 0 25px;padding:0;list-style-type:none;overflow:hidden}
@media (max-width:592px){#article-header .component-social{border-top:1px solid #ccc;border-bottom:1px solid #ccc;padding:10px 0;font-size:13px}
}
#article-header .component-social li{float:left;padding-left:0;padding-right:10px}
@media (max-width:592px){#article-header .component-social li{padding-right:5px}
}
#article-header .component-social .social-icon.comments{color:#000}
#article-header .component-social .social-icon.comments:before{color:#fff;margin-right:5px}
#article-header .component-social .social-icon.comments:hover{text-decoration:underline}
#article-header .component-social li span{display:none}
#article-header .hints{font-family:-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif}
@media (max-width:692px){#article-header .hints{display:none}
}
#article-header .hints a{color:#458CD5}
#article-header .hints strong{color:#000;text-transform:uppercase}
.mdzr-no-fullscreen #article-header .detect-fullscreen{display:none}
#article .photo .mobile-caption-wrapper,#article-content{position:relative}
@media (max-width:592px){#article .photo .mobile-caption-wrapper:after,#article-content:after{display:block;position:absolute;width:100%;bottom:0;height:100%;background:-owg-linear-gradient(rgba(255,255,255,0),#fff);background:-webkit-linear-gradient(rgba(255,255,255,0),#fff);background:-moz-linear-gradient(rgba(255,255,255,0),#fff);background:-o-linear-gradient(rgba(255,255,255,0),#fff);background:linear-gradient(rgba(255,255,255,0),#fff);content:""}
}
@media (max-width:592px){#article-content:after{max-height:100px}
}
#article .photo.expanded .mobile-caption-wrapper:after,#article .photo.has-warning .mobile-caption-wrapper:after,#article-header.expanded #article-content:after{display:none}
#article .read-more{margin-bottom:8px;display:none;text-decoration:none}
@media (max-width:592px){#article .read-more{display:block}
}
#article .read-more:after{content:"+";padding-left:5px}
#article .photo.expanded .read-more,#article .photo.has-warning .read-more,#article-header.expanded .read-more{display:none}
#article .photos{margin:0 auto;padding:0;list-style-type:none;counter-reset:photos}
#article .photo{margin:0 auto 35px;padding:5px 0;position:relative}
#article .photo.photo-draft{background:#efefef;padding:5px 10px}
#article .photo .img{width:100%;background-size:cover;position:relative}
#article .photo .img picture{position:absolute;top:0;bottom:0;left:0;right:0}
#article .photo .img picture img{border:1px solid #666}
#article .photo .img .photo-warning{position:absolute;left:0;top:0;right:0;bottom:0;background:#333;text-align:center;color:#fff;text-decoration:none}
#article .photo .img.reveal .photo-warning{display:none}
#article .photo .img .photo-warning-content{position:absolute;top:50%;left:50%;-webkit-transform:translateY(-50%) translateX(-50%);-moz-transform:translateY(-50%) translateX(-50%);-ms-transform:translateY(-50%) translateX(-50%);-o-transform:translateY(-50%) translateX(-50%);transform:translateY(-50%) translateX(-50%);width:90%;max-width:600px;font-size:1.875em}
@media (max-width:592px){#article .photo .img .photo-warning-content{font-size:1em}
}
#article .photo .img .photo-warning .btn{background:#000;font-size:.8em;border:1px solid #999;color:#fff;padding:15px 30px;display:inline-block;-webkit-border-radius:5px;-moz-border-radius:5px;-ms-border-radius:5px;-o-border-radius:5px;border-radius:5px}
@media (max-width:592px){#article .photo .img .photo-warning .btn{font-size:1em}
}
#article .photo .caption{margin:1em 0 .875em;position:relative;font-size:18px;line-height:1.5}
#article .caption a{color:#EC1B24}
#article .caption .permalink{color:#458CD5}
#article .caption .warning{color:#EC1B24}
@media (max-width:592px){#article .photo .mobile-caption-wrapper{max-height:75px;overflow:hidden;margin-bottom:4px}
}
@media (max-width:592px){#article .photo.expanded .mobile-caption-wrapper,#article .photo.has-warning .mobile-caption-wrapper{max-height:inherit;margin-bottom:0}
}
#article .photo .caption:before{counter-increment:photos;content:counter(photos) ". ";color:#EC1B24}
#article .photo .credit{color:#999;font-size:.875em}
#article .photo .license-link{color:#999;text-decoration:none;border-bottom:1px solid #999}
#article .photo .transition-img{cursor:pointer;margin:auto;background-size:cover;background-repeat:no-repeat;background-position:center center;filter:alpha(Opacity=0);opacity:0;-webkit-transition-property:opacity;-moz-transition-property:opacity;-o-transition-property:opacity;transition-property:opacity}
#article .photo .transition-img.active{filter:alpha(Opacity=100);opacity:1}
#article .share-flair{margin:0;margin-top:3px;padding:0;height:36px;list-style-type:none}
#article .share-flair li{padding-left:0;padding-right:10px;margin:0;float:left}
#article .share-flair.active li{display:block}
#article .share-flair .share-photo{line-height:36px;display:block}
#article .share-flair .share-photo a{color:#fff;background:#bbb;text-decoration:none;padding:4px;font-size:12px;text-transform:uppercase}
#article .share-flair .share-photo a:before{font-family:atl-icons;content:"";padding-right:5px}
#article .share-flair.active .share-photo a{color:#bbb;background:#fff}
.ad-stickyleader-wrapper{width:100%;text-align:center;overflow:hidden;margin:0 0 30px 0}
.ad-stickyleader-wrapper gpt-ad{width:100%}
.ad-stickyleader-wrapper.fix-available .fixed{position:fixed;top:0;z-index:5000;margin-top:0}
.photos .ad-wrapper{text-align:center;margin-bottom:40px}
.photos .ad-wrapper .ad{min-height:1px}
@media (max-width:592px){.photos .ad-wrapper .ad.ad-loaded:before{content:"Advertisement";display:block;border-bottom:1px solid #ccc;margin-bottom:5px;text-align:center;color:#ccc;font-size:.875em}
}
.comments-jump,.to-top{border-top:1px solid #ccc;border-bottom:1px solid #ccc;padding:10px;text-align:center;margin-bottom:40px}
#article .comments-jump .btn,.to-top .btn{text-decoration:none;background:#000;color:#fff;padding:10px 15px;-webkit-border-radius:5px;-moz-border-radius:5px;-ms-border-radius:5px;-o-border-radius:5px;border-radius:5px;border-width:0;display:inline-block;font-family:-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:.6875rem;font-weight:700;letter-spacing:.05em;text-transform:uppercase}
@media (max-width:1052px) and (min-width:722px){.to-top{display:none}
}
/*# sourceMappingURL=photo.css.9617b602dec7.map */