body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.separator {
  background: rgba(0, 0, 0, 0.08);
  width: 100%;
  height: 1px;
  margin: 10px 0; }

.pre-profile-copy h2 {
  font-size: 22px;
  font-weight: 300;
  margin-bottom: 30px; }

#profile {
  padding: 10px 30px 0;
  max-width: 840px;
  margin: 0 auto; }
  #profile .profile-container-gray {
    background: #fff;
    padding: 35px 25px 0; }
  #profile a {
    color: #0A9FD3;
    text-align: left;
    font-weight: 600;
    padding-left: 5px;
    display: inline-block;
    width: 160px; }
  #profile #fineuploader_button {
    display: inline-block;
    top: 6px;
    opacity: 0.7;
    white-space: nowrap;
    width: initial; }
  #profile .headline-row {
    margin-left: -8px; }
  #profile .contact-row > .col-md-4 {
    position: relative;
    margin-bottom: 10px;
    text-indent: 15px; }
    #profile .contact-row > .col-md-4 a {
      font-weight: 400;
      font-size: 14px; }
    #profile .contact-row > .col-md-4 i {
      position: absolute;
      left: 15px;
      top: 11px;
      bottom: 0; }
  #profile .profile-image-container {
    background: #f0f0f0;
    display: block;
    width: 120px;
    height: 120px;
    border-radius: 120px;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
    border: 1px solid #cacaca; }
  #profile .profile-image {
    border-radius: 120px;
    display: block;
    width: 130px;
    height: 130px;
    overflow: hidden;
    margin: 0 auto;
    position: absolute;
    opacity: 0.7;
    left: -5px; }
  #profile .contact-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-size: cover;
    background-repeat: no-repeat; }
  #profile #public-key {
    display: block;
    position: relative;
    margin: 20px auto;
    text-align: center;
    text-indent: -10px;
    letter-spacing: normal; }
    #profile #public-key:before {
      content: "";
      position: absolute;
      width: 200px;
      height: 300px; }
  #profile #profile-name {
    font-weight: 800;
    font-size: 22px; }
  #profile h2 {
    font-size: 22px;
    font-weight: 400; }
  #profile .p-headline {
    color: black;
    font-weight: 300;
    font-size: 14px; }
  #profile .chevron-down {
    width: 45px;
    height: 25px;
    padding: 0;
    position: absolute;
    top: 0;
    right: 10px; }

.hide_until_loaded {
  display: none; }

#senders-content {
  text-align: center;
  padding: 0 50px 30px;
  width: 90%;
  max-width: 840px;
  margin: 0 auto !important; }
  #senders-content h5 {
    display: block;
    padding-left: 20px;
    text-align: left;
    font-size: 12px;
    font-weight: 400; }
  #senders-content .senders-container-gray {
    padding: 15px 10px 35px; }
    #senders-content .senders-container-gray input {
      height: 46px;
      margin-top: 0;
      margin-left: 5px;
      width: 100%;
      text-indent: 5px;
      border: 1px solid #ccc;
      border-radius: 2px; }
    #senders-content .senders-container-gray input {
      outline: none;
      text-indent: 10px; }
  #senders-content .cta-button {
    background: linear-gradient(-174deg, #48D727 0%, #31A217 100%);
    border: 0;
    border-radius: 3px;
    color: #ffffff;
    cursor: pointer;
    letter-spacing: normal;
    padding: 12px 0;
    width: 210px;
    transition: 0.3s;
    font-family: "Open Sans", sans-serif;
    font-size: 15px; }
    #senders-content .cta-button:hover {
      transform: scale(1.04); }

#recipient {
  position: relative;
  padding-top: 5px; }
  #recipient .senders-prompt {
    width: 97%;
    display: block !important;
    position: absolute;
    top: 20px;
    text-indent: 30px;
    opacity: 0.6;
    font-size: 12px;
    z-index: 900; }
  #recipient textarea {
    display: block;
    width: 97%;
    margin: 0 auto;
    background: url("../imgs/svgs/lock-pattern-2.svg"), #f8f8f8;
    background-position: center 10%;
    background-repeat: repeat;
    padding: 35px 17px 15px;
    box-shadow: 0 1px 2px #ccc;
    border: 3px solid transparent;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    z-index: 900;
    letter-spacing: 0px !important;
    transition: 0.4s;
    box-shadow: 0 0 2px gray;
    border-radius: 4px; }
    #recipient textarea:hover {
      box-shadow: 0 0 3px gray;
      border: 3px solid rgba(243, 243, 243, 0.3);
      border-color: #31A217; }
    #recipient textarea:focus {
      box-shadow: inset 1px 3px 5px #ccc, inset -1px -3px 5px #ccc, 0 1px 3px #ccc;
      transition: 1s;
      background-color: rgba(49, 162, 23, 0.15);
      border: 3px solid #31A217;
      outline: 0; }
  #recipient .add-attachment {
    max-width: 860px;
    width: 97%;
    display: block !important;
    margin: 20px auto 0;
    position: relative;
    font-size: 14px;
    text-align: right;
    font-weight: 400;
    opacity: 0.8;
    text-decoration: none; }
    #recipient .add-attachment::before {
      opacity: 0.8;
      position: absolute;
      content: "";
      background: url("../imgs/svgs/paperclip-icon.svg") #f3f3f3;
      background-repeat: no-repeat;
      background-size: 60%;
      background-position: center;
      border: 1px solid #afafaf;
      right: 110px;
      height: 32px;
      width: 32px;
      top: -4px;
      padding: 15px 0;
      display: block;
      bottom: 0;
      color: blue;
      border-radius: 120px;
      transition: 0.5s ease; }
    #recipient .add-attachment:hover {
      opacity: 1; }
      #recipient .add-attachment:hover::before {
        border-color: #0A9FD3; }
  #recipient .drag_sentence {
    display: block;
    font-weight: 300;
    text-align: center;
    margin-top: 10px; }

body.safari #profile #fineuploader_button {
  width: 110px;
  top: initial;
  overflow: hidden; }

#website-icon {
  background: url("../imgs/svgs/website.svg"); }

#phone-icon {
  background: url("../imgs/svgs/phone.svg"); }

#company-icon {
  background: url("../imgs/svgs/company.svg"); }

#loading,
#notify {
  width: 100%;
  padding-top: 120px;
  font-size: 18px;
  text-align: center;
  opacity: 0.7; }

#loading .large_spinner img {
  width: 80px; }

ul.qq-upload-list {
  width: 100%;
  display: inline-block;
  text-align: left;
  padding-top: 14px;
  padding-left: 10px;
  margin-bottom: 0; }
  ul.qq-upload-list li {
    display: inline-block;
    border: 1px solid #e0e0e0;
    background: #f8f8f8;
    margin-right: 10px;
    margin-bottom: 10px;
    border-left: 4px solid #31A217;
    padding: 3px 3px 3px 10px; }
  ul.qq-upload-list li button {
    background: none;
    border: none; }

.qq-upload-drop-area-active {
  -webkit-animation: fadeIn 0.5s ease;
  animation: fadeIn 0.5s ease; }
  .qq-upload-drop-area-active::after {
    background: rgba(49, 162, 23, 0.2);
    width: 99%;
    height: 80%;
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    border: 5px dashed #31A217; }
  .qq-upload-drop-area-active::before {
    position: absolute;
    content: 'Drop files here';
    left: 0;
    right: 0;
    top: 35%;
    bottom: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    font-size: 45px;
    color: #31A217; }

@media (max-width: 991px) {
  #profile .contact-row,
  #profile h2 {
    text-align: center;
    margin: 0 auto;
    max-width: 90%;
    margin: 0 auto; }
  #profile #headline-copy {
    max-width: 90%;
    margin: 0 auto;
    transition: 0.5s ease; }
  #profile .headline-row {
    display: block;
    width: 100%;
    margin: 10px auto;
    text-align: center; }
  .profile-image {
    transition: 0.5s ease; } }

@media (max-width: 767px) {
  #profile .contact-row a {
    width: 300px;
    transition: 0.5s ease; }
  #senders-content {
    width: 600px; }
    #senders-content .cta-button {
      display: block;
      margin-top: 5px !important;
      margin-right: -5px !important;
      float: right; } }

@media (max-width: 560px) {
  #senders-content {
    width: 98%; }
    #senders-content .cta-button {
      display: block;
      margin-top: 5px !important;
      margin-right: -5px !important;
      float: right; } }
