@font-face{font-family:appleLogo;src:local("Lucida Grande");unicode-range:U+F8FF}
#slack_logo{background:url(../../4f28/img/slack_logo_240.png) no-repeat}
img#slack_logo{background:0 0}
.logo_link{display:inline-block}
.fs_split{position:absolute;overflow:hidden;width:100%;top:0;bottom:0;left:0;right:0;background-color:#ddd;-webkit-transition:background-color .2s ease-out 0s;-moz-transition:background-color .2s ease-out 0s;transition:background-color .2s ease-out 0s}
.fs_split h1{font-size:42px;line-height:48px;font-weight:300;margin-bottom:2rem}
.fs_split label{margin-bottom:.5rem}
.fs_split .desc{font-size:1.25rem;color:#616061;margin-bottom:2rem}
.fs_split .email{color:#1d1c1d;font-weight:700}
.fs_split .header_error_message{margin:0 11%;padding:1rem 2rem;background:#fff1e1;border:none;border-left:.5rem solid #ffa940;border-radius:.25rem}
.fs_split .header_error_message h3{margin:0}
.fs_split .error_message{display:none;font-weight:700;color:#ffa940}
.fs_split .error input,.fs_split .error textarea{border:1px solid #ffa940;background:#fff1e1}
.fs_split .error input:focus,.fs_split .error textarea:focus{border-color:#fff1e1;box-shadow:0 0 7px rgba(255,185,100,.15)}
.fs_split .error .error_message{display:inline}
.fs_split_pane{height:100%}
.fs_split_pane .fs_split_flex_wrapper{position:relative;min-height:100%;font-size:1rem;display:flex;flex-direction:column;-ms-flex-pack:justify;-webkit-box-pack:justify;-webkit-justify-content:space-between;-moz-justify-content:space-between;justify-content:space-between}
.fs_split_pane .fs_split_mini_header{align-self:flex-start;display:none}
.fs_split_pane .fs_split_header{align-self:flex-start;width:100%;padding:1rem}
.fs_split_pane .fs_split_body{padding:0 12%;position:relative;align-self:center;max-width:100%}
.fs_split_pane .fs_split_body .fs_split_graphics{position:absolute;height:100%;width:76%;background-position:50%;background-repeat:no-repeat;background-size:contain;-webkit-transition:height .5s ease-out 0s;-moz-transition:height .5s ease-out 0s;transition:height .5s ease-out 0s}
.fs_split_pane .fs_split_footer{padding:.5rem 12%;margin:0 auto;text-align:center;align-self:flex-end;max-width:100%}
.fs_split_pane .fs_split_well{padding:.8rem;max-width:initial;font-size:.8rem;line-height:1.2rem;color:#1d1c1d;background-color:#ddd;border-radius:.25rem;order:1}
.fs_split_pane .fs_split_well a{color:#1d1c1d;font-weight:400}
.fs_split_pane .fs_split_footer:last-of-type{padding-bottom:2rem}
.fs_split_pane_left{background-color:#fff;color:#1d1c1d;width:50%;min-width:486px;max-width:624px;float:left;z-index:1;overflow-y:auto;word-wrap:break-word}
.fs_split_pane_left>*{flex:1 0 auto}
.fs_split_pane_left .fs_split_header{text-align:left}
.fs_split_pane_left .fs_split_body{width:100%}
.fs_split_pane_right{width:auto;overflow:hidden}
.fs_split_pane_right .fs_split_flex_wrapper{max-width:750px;margin:auto;height:100%}
.fs_split_pane_right .fs_split_header{text-align:right}
.fs_split_pane_right .fs_split_body{width:100%;flex:1}
.fs_split_pane_full_width{background-color:#fff;width:100%;overflow-y:auto}
.fs_split_pane_full_width .fs_split_flex_wrapper{max-width:480px;width:100%;min-height:90%;margin:auto;-ms-flex-pack:start;-webkit-box-pack:start;-webkit-justify-content:flex-start;-moz-justify-content:flex-start;justify-content:flex-start}
.fs_split_pane_full_width .fs_split_header{text-align:left}
.fs_split_pane_full_width .fs_split_body{padding:0 1rem;margin-bottom:1rem}
.fs_split_pane_full_width .fs_split_footer:last-of-type{padding:.5rem 1rem}
.modal-backdrop{background:#000}
#generic_dialog{max-width:500px;top:20%}
#generic_dialog .modal-body{padding:2rem 2rem 0}
#generic_dialog .modal-body h1{font-size:36px;line-height:39px;font-weight:300;margin-bottom:1rem}
#generic_dialog .modal-body p{color:#616061}
#generic_dialog .modal-footer a{height:52px;padding:1rem;font-size:1rem}
#generic_dialog .modal-footer .dialog_go{line-height:1rem}
#generic_dialog .modal-footer .dialog_go .ts_icon_arrow_right{opacity:.7;font-size:1.5rem;vertical-align:middle;margin:0}
@media only screen and (max-height:44rem) and (min-width:767px){.fs_split{display:table;overflow:scroll}
.fs_split .fs_split_pane{display:table-cell;vertical-align:top;overflow:hidden!important}
.fs_split .fs_split_pane_full_width{overflow-y:auto!important}
.fs_split .fs_split_pane_right{width:100%}
.fs_split .fs_split_pane_right .fs_split_flex_wrapper{height:100%}
.fs_split .fs_split_pane_left{min-height:100%;width:486px}
}
@media only screen and (max-width:767px){.fs_split .fs_split_pane h1{font-size:36px}
.fs_split .fs_split_pane .fs_split_flex_wrapper{display:block;max-height:initial;max-width:100%;margin:auto}
.fs_split .fs_split_pane .fs_split_flex_wrapper .fs_split_body{padding:0 1rem}
.fs_split .fs_split_pane .fs_split_flex_wrapper .fs_split_mini_header{display:block}
.fs_split .fs_split_pane .fs_split_flex_wrapper .fs_split_footer{padding:.5rem 1rem 3rem}
.fs_split .fs_split_pane_left{width:100%;min-width:inherit;max-width:inherit;overflow:scroll;-webkit-overflow-scrolling:touch}
.fs_split .fs_split_pane_right{display:none}
.fs_split .fs_split_pane_full_width .fs_split_flex_wrapper .fs_split_body{padding:0 1rem}
#generic_dialog{margin:0!important;width:75%;left:12.5%;right:12.5%;bottom:initial}
#generic_dialog .modal-footer a{width:100%;margin:.5rem 0!important}
}
@media only screen and (max-width:414px){#generic_dialog{margin:0!important;width:100%;border-radius:0;top:10%;left:0;right:0}
#generic_dialog .modal-footer{border-radius:0}
}
.fs_grey h1{color:#1d1c1d;font-weight:900;font-size:34px}
.fs_grey label{color:#1d1c1d}
.fs_grey .description{color:#616061;font-weight:400;font-size:16px}
.fs_grey .error_message{display:none;font-weight:700;color:#ffa940}
.fs_grey .error input,.fs_grey .error textarea{border:1px solid #ffa940;background:#fff1e1}
.fs_grey .error input:focus,.fs_grey .error textarea:focus{border-color:#fff1e1;box-shadow:0 0 7px rgba(255,185,100,.15)}
.fs_grey .error .error_message{display:inline}
.fs_grey .error .input_overlay{background:#fff1e1!important}
#slack_logo{margin:1rem;width:120px;height:37px;background-image:url(../../4f28/img/slack_logo_240.png);background-size:contain;background-repeat:no-repeat}
#tos_root{margin-top:-20px}
@media screen and (max-width:640px){#tos_root{margin-top:28px}
}
@media screen and (max-width:375px){#tos_root{margin-top:-10px}
}
#invite_form .invite_flow.tos_i_agree_banner{padding-left:0;padding-right:0}
@media screen and (max-width:767px){#invite_form .tos_graphics{height:8rem;margin:3rem auto}
#invite_form .invite_flow.tos_i_agree_banner{padding-left:2rem;padding-right:2rem}
}
@media screen and (max-width:640px){#invite_form .invite_flow.tos_i_agree_banner{padding-left:.8rem;padding-right:.8rem}
}
#invite_form .invite_flow .tos_full_width{padding-left:0;padding-right:0;max-width:620px}
@media screen and (max-width:640px){#invite_form .invite_flow .tos_full_width{max-width:100%}
}
#invite_form[data-step=single_page]{height:calc(100% - 69px);min-height:auto}
#invite_form[data-step=user_tos]{max-width:620px}
#invite_form[data-step=user_invite]{max-width:480px}
#invite_form .fs_split_footer{width:100%}
#invite_form #invite_form_body h1{word-wrap:break-word;line-height:38px;letter-spacing:0}
#invite_form #invite_form_body #invite_rows{width:112%;max-height:15rem;overflow-y:auto}
#invite_form #invite_form_body .invite_row{position:relative;padding-right:11%;margin-bottom:.5rem}
#invite_form #invite_form_body .invite_row:hover .delete_row{display:inline-block}
#invite_form #invite_form_body .invite_row:only-child .delete_row{display:none}
#invite_form #invite_form_body .delete_row{position:absolute;top:1rem;right:6%;color:#616061;display:none}
#invite_form #invite_form_body .delete_row:hover{display:inline-block}
@media only screen and (min-height:44rem) and (min-width:767px){#invite_form #invite_form_body{display:flex;flex-shrink:0;flex-direction:column}
#invite_form #invite_form_body #invite_rows{max-height:inherit}
}
#invite_form #consolidated_invite_form h1{font-size:28px;line-height:1.2143;font-weight:900}
#invite_form .body{font-size:15px;line-height:1.46668;font-weight:initial}
#invite_form .caption{font-size:13px;line-height:1.38463;font-weight:initial}
#invite_form .send_invitations_button_container{display:flex;-ms-flex-pack:justify;-webkit-box-pack:justify;-webkit-justify-content:space-between;-moz-justify-content:space-between;justify-content:space-between;margin-bottom:3rem}
#invite_form .send_invitations_button_container .btn{flex:1;padding:14px 14px 16px}
#invite_form .send_invitations_button_container .btn_outline{margin-right:.5rem}
@media only screen and (max-width:767px){#invite_form .send_invitations_button_container{flex-direction:column;margin-top:auto}
#invite_form .send_invitations_button_container .btn{flex:none;max-width:100%;margin-right:0;margin-bottom:.5rem}
}
#invite_graphics_pane{background-color:#21b2fe}
#invite_graphics_pane #invite_graphics{background-image:url(../../66f9/img/signup/step1-illi@2x.png)}
#invite_graphics_pane.shared_invite_email_sent{background-color:#42c299}
#invite_graphics_pane.shared_invite_email_sent #invite_graphics{background-image:url(../../66f9/img/signin/invite-sent@2x.png)}
.legalese{text-align:center;font-size:smaller;max-width:675px!important;color:#fff}
.legalese a{color:#fff;font-weight:600}
.description{color:#616061}
.mobile_legalese{width:inherit;margin:1rem 2rem 1.5rem}
#email_checkbox{margin:1.5rem auto}
#email_checkbox label{font-weight:400;display:inline}
#email_checkbox .spf_input{float:left;top:4px;position:relative}
#email_checkbox .spf_label{display:block;overflow:hidden;margin-left:1.5rem}
#submit_btn .ts_icon_arrow_right{margin-right:0}
.input_wrapper{position:relative}
.input_wrapper input{padding:.75rem;font-size:1.25rem;height:3rem}
.input_wrapper p{position:absolute;margin:.75rem;font-size:1.25rem;height:1.75rem;pointer-events:none;border-left:1px solid;border-color:rgba(0,0,0,0)}
.input_wrapper .input_spinner{position:absolute;left:-3rem}
.input_wrapper .input_checkmark{color:#007a5a;background-color:#fff;text-align:right;z-index:5;right:.5rem}
.input_wrapper .input_overlay{background:#fff;width:95%;opacity:0;-webkit-transition:opacity 1s;-moz-transition:opacity 1s;transition:opacity 1s}
.input_wrapper .input_overlay.show{opacity:1;-webkit-transition:opacity .5s;-moz-transition:opacity .5s;transition:opacity .5s}
.error_message{display:none;font-weight:700;color:#ffa940}
.error input,.error textarea{border:1px solid #ffa940;background:#fff1e1}
.error input:focus,.error textarea:focus{border-color:#fff1e1;box-shadow:0 0 7px rgba(255,185,100,.15)}
.error .error_message{display:inline}
.error .input_overlay{background:#fff1e1!important}
.fs_split_pane_full_width .fs_split_body{width:100%}
.fs_split_pane_full_width #invite_form[data-step=user_tos]{width:85%;max-width:800px}
.fs_split_pane_full_width .tos_i_agree_banner.invite_flow{width:100%;max-width:100%}
#invite_form .email_container label{margin-bottom:.5rem!important}
@media only screen and (max-width:1300px){.legalese{max-width:500px!important}
}
.passwordWrapperStyles{position:relative;width:100%;margin:5px 0 1rem}
.passwordStrengthMeter{height:4px;width:100%;position:absolute;left:0}
.firstBar{width:0}
.secondBar{width:2px;background-color:#fff;left:25%}
.thirdBar{width:2px;background-color:#fff;left:50%}
.fourthBar{width:2px;background-color:#fff;left:75%}
.fifthBar{margin-top:6px;color:#444;font-size:11px;line-height:16px;float:right}