

p {text-align: left;}

p.link {text-align: left;
        font-family: "Helvetica", "Arial";
        font-weight: normal;
        font-size: 80%;
        }

p.copy {text-align: center;
        font-style: bold;
        font-size: 80%;
        }


p.more {text-align: right;
        font-style: normal;
        font-size: 100%;
        }

p.typed {font-family: "Courier", "courier";
        }

p.vilink {text-align: right;
       
        }


p.faq1, p.intro {text-align: left;
        font-family: Helvetica, Arial;
        font-weight: normal;
        font-style: italic;
        }

a:link {color: blue; text-decoration: none }
a:hover {background:#eeeeee; color:black}
a:visited { color: blue; text-decoration: none }


